
// Breakpoints
$breakpointMini: 400px;
$breakpointSmall: 600px;
$breakpointMedium: 1000px;

$maxPageWidth: 990px;

// Colors
$primary: #0abb72;
$secondary: #3b4a87;
$info: #0a1d69;
$error: #ea5b5b;
$text: #4b4b4b;
$text-light: #a6a6ab;
$text-strong: #060a39;
$colorPlaceholder: $text-light;

$defaultBackground: white;
$alternativeBackground: #eef2f5;

$colorBorder: #e0e0e0;
$colorBorderStrong: #d5d5d5;

$borderRadius: 5px;

// Link Colors
$link: $primary;
$link-visited: $primary;

// Typography
$body-background-color: #fbfaf9;
$body-line-height: 1.4;
$body-rendering: optimizeLegibility;
$body-size: 17px;
$family-sans-serif: 'Work Sans', 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;

// Section
$sectionPadding: 4vw;

// Miscellaneous
$radius: 5px;
$header-height: 3.6rem;
